{%extends "layout.html"%}


{% block content %}
<h2>Bulk Purchase</h2>

  <br/>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <form method="POST" enctype="multipart/form-data">
          
          <br/>
          {{form.name(class="form-control",placeholder="Item Name")}}

          <br/>
          <p>Item Information</p>
          <div class="row g-3">
              <div class="col">
                  {{form.quantity(class="form-control",  placeholder="Quantity in KG")}}
              </div>
            </div>

          <br/>
            {{form.delivery(class="form-control")}}
          <br/>
          {{form.submit}}
      </form>
      </div>


{% endblock %}