{%extends "layout.html"%}


{% block content %}


<!--<br/>
<div class="shadow p-3 mb-5 bg-white rounded">
<form methods="POST" action="/bulk_purchase2">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Items</label>
    <select class="form-control" name="item" id="exampleFormControlSelect1">
      {%for item in items%}
      <option>{{item.name}}</option>
        {%endfor%}
    </select>
  </div>
  <div class="form-group ">
    <label for="inputPassword2" class="sr-only">Quantity</label>
    <input type="number"  class="form-control" id="quantity" name="quantity" placeholder="Quantity">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Filter By</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Price</option>
      <option>Location</option>
      <option>Rating</option>
    </select>
  </div>
  <div>
    <br/>
    <button type="submit" class="btn btn-primary mb-2">Confirm </button>
  </div>
</form>
</div>


-->


{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


    {%endfor%}






<h2>Bulk Purchase</h2>

<br/>
<div class="shadow p-3 mb-5 bg-white rounded">
<form class="form-inline"  method="POST" action="/bulk_purchase">
  <div class="mb-3">
    <label for="itemselect" class="form-label">Select Items</label>
  <select id="itemselect" class="form-select" name="items"  multiple data-max-options="2" aria-label="multiple select example">
  {%for item in items%}
  <option value="{{item.name}}">{{item.name}}</option>
  {%endfor%}
</select>
</div>
<div class="mb-3">
  <label for="quantity" class="form-label">Enter The Quantities</label>
  <input type="text" class="form-control" name="quantities" id="quantities">
</div>

<div><select class="form-select" name="sort"aria-label="Default select example">
  <option value="Price">Price</option>
  <option value="Location">Location</option>
</select></div>
<button type="submit" class="btn btn-primary mb-2">Confirm order</button>
</form>
</div>




{% endblock %}