{%extends "layout.html"%}





{{ super() }}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="cart-name">
  <h2>{{user.username}}'s Cart</h2>
</div>

<div class="cart">
    <table class="table table-hover table dark">
      <thead class="cart-head">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="cart-body">
            {%for item in items%}
          <tr>
              <td>{{ items[i].name }}</td>
              <td>{{ carts[i].cart_quantity}}</td>
              <td>{{ items[i].price }}</td>
              <td><a href="/delete_cart_item/{{carts[i].cart_id}}" class="btn btn_secondary bt-sm active">Remove Item</a></td>
          </tr>
          {%endfor%}
      </tbody>
    </table>
    <div class="col-sm">
        <a href="/checkout/{{user.id}}" class="button-checkout" >Checkout</a>
    </div>
  </div>


{%endblock%}