{% extends "layout.html" %}
{% block content %}
{{super()}}

<div class="container">
  <div class="row">
    <table class="table table-sm">
      <thead>
        <th>Sr</th>
        <th>Name</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th>Update</th>
        <th>Delete</th>
      </thead>
      <tbody>
        {% for key , item in session['Shoppingcart'].items() %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!--
{% for item in items %}
<div class="product-item">
  <h3>{{ item.name }}</h3>
  <img src="static/item_images/{{ item.image }}" alt="" width="200px" height="200px">
  <p>{{ item.price}}</p>
  <button onclick="addToCart(item.id)" type="button" class="btn btn-primary">Add to Cart</button>
</div>

{% endfor %}
-->




{% endblock %}