{% extends 'layout.html' %}



{% block content%}

  <br/>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <form method="POST" enctype="multipart/form-data">
          {{form.hidden_tag()}}

          {{form.address(class="form-control",placeholder="Address")}}

          <br/>
          <p>Payment Method: Cash On Delivery</p>

          <br/>
            {{form.delivery(class="form-control")}}
          <br/>
          <a href="/checkout/{{current_user.id}}" {{form.submit}} class="btn btn-primary btn-sm active">Checkout</a>
      </form>
      </div>


{% endblock %}