{% extends "layout.html" %}
{% block title %}GreenSystems Backend{% endblock %}
{% block page %}GreenSystems MVC{% endblock %}

{{ super() }}

{% block content %}
{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


    {%endfor%}

<!--------products-------->
<!--<div class="small-container">
    {% for item in items%}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/static/item_images/{{item.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      {%endfor%}
</div>-->
<div class="header" style="text-align: center; transform:translateX(38%);">
    <div class="new-container" style="align-items: flex-end;">
        <div class="row">
            <div class="col-2">
                <h1>Shopping Made Easier</h1>
                <p>Finding fresh produce is now easier and quicker than ever</p>
            </div>
        </div>
    </div>
</div>
<div class='container'>
    <div class="row">
    {% for item in items%}
    <div class="col">
    <div class="card"> <img class='mx-auto img-thumbnail' src="/static/item_images/{{item.image}}" width="100%" height="100%" max-height="100px" max-midth="100px" />
        <div class="card-body text-center mx-auto">
            <div class='cvp'>
                <h5 class="card-title font-weight-bold">{{item.name}}</h5>
                <p class="card-text">${{item.price}} per kg</p> <p class="card-text">{{item.quantity}}kg Available</p><a href="/item_details/{{item.id}}" class="btn btn-primary btn-sm active">view details</a><br />
            </div>
        </div>
    </div>
</div>
<br/>
    {%endfor%}
    
</div>
</div>

<hr/>




{% endblock %}