{% extends "layout.html" %}
{% block title %}GreenSystems Backend{% endblock %}
{% block page %}GreenSystems MVC{% endblock %}

{{ super() }}

{% block content %}
    <h1>GREEN SYSTEM BACKEND</h1>
    <p>Test to make sure GreenSystem is Hosted and Working</p>
    <div class="container">
        {% for user in users %}
        <div>
            {{user.username}}
            {{user.email}}
            {{user.password}}
            {{user.phone_number}}
            {{user.longtitude}}
            {{user.latitude}}
        </div>

        {% endfor%}

    </div>

    <div class="container">
            {% for item in items%}
                {{item.name}}
                {{item.image}}
                {{item.price}}
                {{item.quantity}}
            {%endfor%}
    </div>

{% endblock %}