{% extends 'layout.html' %}



{% block content%}

  <br/>
  <br/>
  <br/>
  <br/>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <form method="POST" enctype="multipart/form-data">
          {{form.hidden_tag()}}

          {{form.image(class="form-control")}}
          <br/>
          {{form.name(class="form-control",placeholder="Item Name")}}

          <br/>
          <p>Item Information</p>
          <div class="row g-3">
              <div class="col">
                  {{form.quantity(class="form-control",  placeholder="Quantity in KG")}}
              </div>
              <div class="col">
                  {{form.price(class="form-control",placeholder="Price per KG")}}
              </div>
            </div>

          <br/>
            {{form.delivery(class="form-control")}}
          <br/>
          {{form.submit}}
      </form>
      </div>
<!--
    {% for product in products %}
      <div class="product-item">
        <h3>{{ product.name }}</h3>
        <img src="static/item_images/{{ lettuce.jpg }}" alt="" width="200px" height="200px">

      </div>

    {% endfor %}
    -->
{% endblock %}